<form
  {{action "createContact" name email phone message on="submit" method="post"}}
  class="contact"
  id="contact-form"
>
  <label>
    {{i18n "contact.create_contact.text_name_label"}}
    {{input required="required" class="form-control" type="text" value=name}}
  </label>

  <label>
    {{i18n "contact.create_contact.text_email_label"}}
    {{input required=true type="text" value=email}}
  </label>

  <label>
    {{i18n "contact.create_contact.text_phone_label"}}
    {{input type="text" value=phone}}
  </label>

  <label>
    {{i18n "contact.create_contact.text_message_label"}}
    {{textarea value=message}}
  </label>

  {{#if sent}}
    <p class="thanks">Thanks! We'll contact you soon.</p>
  {{else}}
    <button type="submit" class="btn btn-primary">
      {{i18n "contact.create_contact.submit_label"}}
    </button>
  {{/if}}
</form>